@model List<Movie>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Year</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (Movie film in Model)
    {
    <tr>
        <td>@film.Id</td>
        <td>@film.Name</td>
        <td>@film.Year</td>
        <td>@film.Country</td>
        <td><a asp-controller="Movie" asp-action="Edit" asp-route-id="@film.Id">Изменить</a></td>
        <td><a asp-controller="Movie" asp-action="Delete" asp-route-id="@film.Id">Удалить</a></td>
    </tr>
    }
</table>

<button>Create film</button>